.main-content {
  margin: 0 50px;
}

.no-margin {
    margin: 0;
}

/**************** style for jgrowl ****************/
.jgrowl-success{
    background-color: green !important;
}

.jgrowl-fail{
    background-color: red !important;
}

/*************** header style **********************/
#logout-button {
  display: none;
}

/************* modal ****************/
.modal-footer > button {
  float: right;
  margin: 0 10px;
}

.modal-body > .row {
  margin: 5px 0;
}
