extend ../layout/layout
block title
  title !{title}
block css_files
  link(rel='stylesheet', href='/static/css/dashboard.css')
block content
  .dashboard-container 
    .row.no-margin.new-button-hoder.clearfix
        button.
            <span class="glyphicon glyphicon-plus"></span>
            New User
    .dashboard-box
        .row.no-margin.row-data
            .col-xs-3.
                Name
            .col-xs-4.
                Email
            .col-xs-1.
                Admin
            .col-xs-4.
    include deleteModal
    include editModal
block script_files
  script(src="#{script}")
