.main-content {
  margin: 0 50px;
}

/**************** style for jgrowl ****************/
.jgrowl-success{
    background-color: green !important;
}

.jgrowl-fail{
    background-color: red !important;
}
